/**, *:before, *:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, field set, legend,
input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
	-webkit-appearance:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

fieldset, img {
  border:0;
}

address, caption, cite, code,
dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption, th {
  text-align:left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}

q:before,
q:after {
  content:"";
}

abbr, acronym {
  border:0;
  font-variant:normal;
}

sup {
  vertical-align:text-top;
}

sub {
  vertical-align:text-bottom;
}

input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

input:password {
  ime-mode:disabled;
}

*:focus {
  outline:none;
}

ul {
  margin:0;
	list-style:none;
}
html,body{ font-family: "微软雅黑"; min-height:100%; font-size:18px; line-height: 24px; }
a{ text-decoration: none;}
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }

/**补齐前缀**/
@mixin transition($a,$b){
  transition:$a $b;
  -webkit-transition: $a $b;
  -moz-transition: $a $b;
  -ms-transition: $a $b;
}

@mixin transform($a){
  transform:$a;
  -webkit-transform:$a;
  -moz-transform:$a;
  -ms-transform:$a;
}


/**通用动画**/
.scale{
  @include transition(all,0.3s)
}
.scale:hover{
  transform: scale(1.1,1.1);
}

.ani-show{
  opacity:0;
  @include transform(translateY(80px));
  @include transition(all,2s);
}

.ani-in{
  opacity:1;
  @include transform(translateY(0));
  margin-top:0;
  .t1,.t2{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring{
    opacity:1;
    @include transform(translateY(0));
  }
}

/**通用类**/
.bg-fff{
  background:#fff;
}

.wrapper{
  width:1000px;
  margin:0 auto auto auto;
}


.header{
  height:830px;
  position:relative;
  background-size:100% auto;
  overflow:hidden;
  .h-bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:830px;
    background: url(../images/top_bg.jpg) center no-repeat;
    // @include transition(all,8s);
    // &:hover{
    //   @include transform(scale(1.1));
    // }
  }
  .txt{
    position:absolute;
    top:340px;
    left:50%;
    margin-left:-215px;
    width:430px;
    height:134px;
    background:url(../images/txt.png) center no-repeat;
    overflow:hidden;
    text-indent: -9999px;
  }
  .h-bottom{
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    padding:15px 0 24px 0;
    background:url(../images/btm_bg.png);
    .wrapper{
      padding-top:7px;
      a{
        display:block;
        width:324px;
        height:122px;
        float:left;
        overflow:hidden;
        margin-left:7px;
        @include transition(color,.5s);
        &:hover{
          color:#cba869;
        }
      }
      li{
        float:left;
        width:33.33%;
        text-align:center;
        a{
          display:inline;
          width:auto;
          height:auto;
          float:none;
          color:#000;
        }
      }
    }
    ul{
      padding-bottom:4px;
      background:#fff;
    }
  }
}

.top-nav{
  position: fixed;
  width:100%;
  background: rgba(255,255,255,.9);
  *background:url(../images/nav_bg.png);
  z-index:999;
  box-shadow: 0px 1px 10px #6D6262;
  @include transition(all,.8s);
  .logo{
    padding:0;
    a{
      width:147px; 
      height:126px;
      background: url(../images/logo.png) center no-repeat;
      border:none;
    }
    a:hover{
      border:none;
    }
  }
  li{
    width:14.28%;
    *width:14.24%;
    float:left;
    text-align: center;
    padding-top:46px;
    @include transition(all,.5s);
    a{
      display:inline-block;
      width:128px;
      height:33px;
      line-height:33px;
      border:1px solid transparent;
      color:#cba869;
    }
    a:hover{
      border:1px solid #cba869;
    }
  }
  .on{
     border:1px solid #cba869;
  }
  .wrapper{
    position: relative;
    padding:10px 0;
    @include transition(all,.8s);
  }
}

/***顶部导航栏变小***/
.not-top{
    background:rgba(230,205,158,.9);
    *background:url(../images/nav_bg_a.png);
    .logo{
      a{
        width:92px; 
        height:88px;
        background: url(../images/logo_m.png) center no-repeat;
      }
    }
    li{
      padding-top:24px;
      a{
        color:#fff;
        &:hover{
          border-color:#fff;
        }
      }
      .on{
        border-color: #fff;
      }
    }
    .wrapper{
      padding:12px 0;
    }
}

.main{
  padding-top:80px;
  padding-bottom:120px;
  p{
    color:#343434;
  }
  .culture{
    text-align:center;
    h3{
      display:block;
      width:130px;
      border:1px solid #343434;
      padding:6px 24px;
      margin:0 auto 54px auto;
    }
    p{
      color:#343434;
      line-height:34px;
    }
  }

  .unique{
    margin-top:104px;
    >div{
        float:left;
        position:relative;
        width:50%;
        height:400px;
    }
    .un-l{
      background:#f1f1f1;
      p{
        position:absolute;
        left:90px;
      }
      .title{
        top:76px;
        width:213px;
        height:77px;
        background:url(../images/unique.png) no-repeat;
      }
      .stand{
        top:166px;
        width:304px;
        height:110px;
        background:url(../images/stand.png) no-repeat;
      }
    }
    .un-r{
      background:#343434;
      p{
        position:absolute;
        right:67px;
        text-indent:-9999px;
      }
    }
  }

  .light{
    margin-top:113px;
    height:280px;
    >div{
      float:left;
      position:relative;
    }
    .li-l{
      width:400px;
      height:280px;
      p{
        position:absolute;
        left:35px;
        top:20px;
        width:320px;
        line-height:30px;
        text-align:justify;
      }
      .square{
        top:213px;
        width:78px;
        height:19px;
        background:url(../images/square.png) no-repeat;
      }
    }
    .li-r{
      float:left;
      width:600px;
      li{
        float:left;
        width:194px;
        height:135px;
        overflow:hidden;
        margin-left:5px;
        margin-bottom:5px;
        img{
          display:block;
        }
      }
    }
  }

  .standards{
    height:400px;
    margin-top:130px;
    >div{
      float:left;
      position:relative;
    }
    .st-l{
      width:560px;
      height:400px;
      background:url(../images/standards.jpg) no-repeat;
    }
    .st-r{
      width:440px;
      height:400px;
      p{
        position:absolute;
        left:44px;
        top:107px;
        width:380px;
        text-align:justify;
        line-height:30px;
      }
      a{
        position:absolute;
        left:129px;
        top:254px;
        display:block;
        color:#ab8638;
        border:1px solid #ab8638;
        padding:4px 10px;
        @include transition(all,.5s);
        &:hover{
          color:#fff;
          background:rgba(219,190,128,.9);
          border:1px solid #fff;
        }
      }
    }

  }

  .intro{
    margin-top:130px;
    padding-top:50px;
    padding-bottom:20px;
    background:#f1f1f1;
    text-align:center;
    line-height:30px;
    a{
      display:inline-block;
      margin-top:20px;
      color:#ab8638;
      border:1px solid #ab8638;
      padding:4px 10px;
      @include transition(all,.5s);
      &:hover{
        color:#fff;
        background:rgba(219,190,128,.9);
        border:1px solid #fff;
      }
    }
  }

  .photo{
    margin-top:65px;
    >div{
      float:left;
      overflow:hidden
    }
    .ph-l{
      width:500px;
      height:695px;
    }
    .ph-r{
      width:480px;
      margin-left:20px;
      div{
        overflow:hidden;
      }
      .img1{
        width:478px;
        height:464px;
      }
      .img2{
        margin-top:25px;
        width:477px;
        height:206px;
      }
    }
  }
  
}

.footer{
  padding:26px 0;
  background:#eaeaea;
  a{
    color:#888;
    @include transition(all,.5s);
    &:hover{
      color:#dbbe80;
    }
  }
  .web-right{
    width:1000px;
    margin:0 auto auto auto;
    font-size:14px;
    color:#888;
    text-align:center;
    border-bottom:1px solid #a0a0a0;
  }
  .links{
     width:1000px;
     margin:0 auto auto auto;
     padding:6px 0;
     font-size:14px;
     color:#888;
     text-align:center;
     li{
      width:10%;
      float:left;
      font-weight:bold;
     }
     a{
      font-weight:normal;
     }
  }
}

.f-con{
  width:1000px;
  margin:0 auto auto auto;
  padding-top:62px;
  border-top:1px solid #a0a0a0;
  .b-logo{
    display:block;
    float:left;
  }
  .mod{
    float:left;
    width:140px;
    text-align:center;
    border-right:1px solid #a0a0a0;
    h3{
      font-size:14px;
      font-weight:bold;
      color:#888;
    }
    a{
      font-size:14px;
      line-height:18px;
    }
    span{
      display:block;
      font-size:14px;
      color:#888;
      line-height:24px;
    }
    ins{
      color:#dbbe80;
      font-size:22px;
      text-decoration:none;
    }
  }
  .no-bor{
    border:none;
    width:auto;
    text-align:left;
    padding-left:40px;
  }
}

/**降低动画元素 权重**/
.t2{
  top:200px;
  width:322px;
  height:33px;
  background:url(../images/t2.png) no-repeat;
  @include transform(translateY(50px));
}
.t1{
  top:134px;
  width:202px;
  height:47px;
  background:url(../images/t1.png) no-repeat;
  @include transform(translateY(-50px));
}
.t1,.t2{
  opacity:0;
  @include transition(all,1.5s .5s);
}

.ring{
  position:absolute;
  left:68px;
  top:-32px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2s .5s);
}

/***质量&工艺页面***/
.header.quality{
  .h-bg{ 
    background: url(../images/quality_bg.jpg) center no-repeat;
  }
  .txt{
    width:467px;
    height:127px;
    margin-left:-233px;
    background: url(../images/quality_txt.png) no-repeat;
  }
}
.main.quality{
  .culture{

    h3{
      width:140px;
    }
    p{
      color:#000;
      text-align:center;
    }
  }
  p{
    color:#666;
    text-align:justify;
    line-height:28px;
  }

  .inner-arc{
      height:405px;
      position: relative;
      .arc-l{
        margin-top:96px;
        width:696px;
        height:405px;
        background:#f1f1f1;
      }
      .txt{
        position:absolute;
        left:543px;
        top:64px;
        width:392px;
        height:99px;
        background: url(../images/quality/txt1.png);
      }
      p{
        position:absolute;
        left:540px;
        top:187px;
        width:400px;
      }
  }

  .polish{
    position:relative;
    margin-top: 120px;
    height:400px;
    .img-box{
      position: relative;
      margin-left:304px;
      width:696px;
      height:400px;
      background: #f1f1f1;
    }
    .txt{
      position:absolute;
      left:70px;
      top:80px;
      width:317px;
      height:100px;
      background: url(../images/quality/txt2.png);
    }
    p{
      position:absolute;
      left:70px;
      top:211px;
      width:410px;
    }
  }

  .sealed{
    height:424px;
    margin-top:120px;
    position: relative;
    .img-box{
      width:695px;
      height:424px;
      background: #f1f1f1;
      position: relative;
    }
    .txt{
      position: absolute;
      left:590px;
      top:65px;
      width:341px;
      height:106px;
      background: url(../images/quality/txt3.png);
    }
    p{
      position: absolute;
      left:593px;
      top:193px;
      width:340px;
    }
  }

  .thickness{
    margin-top:120px;
    height:406px;
    position: relative;
    .img-box{
      width:700px;
      height:406px;
      margin-left:300px;
      background: #f1f1f1;
      position: relative;
    }
    .txt{
      position: absolute;
      left:71px;
      top:30px;
      width:408px;
      height:101px;
      background: url(../images/quality/txt4.png);
    }
    p{
      position: absolute;
      left:71px;
      top:156px;
      width:363px;
    }
  }

  .title-5c{
    height:105px;
    margin-top:184px;
    margin-bottom: 30px;
    background: url(../images/quality/t0.png) center no-repeat;
    text-indent: -9999px;
  }

  .intro-5c{
    height:326px;
    margin-top: 35px;
    .in-l{
      float: left;
      width:396px;
      padding:15px 16px 0px 16px;
      h3{
        width:321px;
        height:68px;
        margin-bottom:30px;
      }
      p{
        margin-bottom: 10px;
        font-size:16px;
        line-height: 24px;
      }
    }
    .in-r{
      width:564px;
      float: right;
    }
  }

  .last-5c{
    height:230px;
  }

}

/**quality单独动画元素**/
.ring-arc{
  margin:80px 0 0 25px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-polish{
  position: absolute;
  left:280px;
  top:-87px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-sealed{
  position: absolute;
  top:88px;
  left:22px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-th{
  position: absolute;
  top:-51px;
  left:256px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ani-l{
  opacity:0;
  @include transform(translateX(-50px));
  @include transition(all,2s);
}

.ani-r{
  opacity:0;
  @include transform(translateX(50px));
  @include transition(all,2s);
}

.ani-in{
  .ring-arc{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-polish{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-sealed{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-th{
    opacity:1;
    @include transform(translateY(0));
  }
  .ani-l,.ani-r{
    opacity:1;
    @include transform(translateX(0));
  }
}

/***系列产品页面***/
.header.goods{
  height:537px;
  .h-bg{
    height:537px;
    background:url(../pic/goods/goods_banner.jpg) center no-repeat;
  }
}

.main.goods{
  padding:0 0 20px 0;
}

.site{
    padding:30px 0;
    font-size: 16px;
    color:#a8a8a8;
    line-height: 20px;
    a{
      color:#c4c4c4;
      &:hover{
        color:#e6ce9e;
      }
    }
  }

.goods-box{
  
  .goods-img{
    float:left;
    width:475px;
    /*图片放大镜样式*/
      .jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
      .jqzoom img{width:434px;height:434px;}
      .zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:562px;height:434px;background:#ffffff;border:1px solid #e9e9e9;display:none;text-align:center;overflow:hidden;}
      .jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

      /*图片小图预览列表*/
      .spec-preview{width:434px;height:434px; border:1px solid #e9e9e9; overflow: hidden;}
      .spec-scroll{clear:both;margin-top:5px;width:434px;}
      .spec-scroll .prev{float:left;margin-right:4px;}
      .spec-scroll .next{float:right;}
      .spec-scroll .prev,.spec-scroll .next{display:block;font-family:"宋体";text-align:center;width:10px;height:72px; line-height:72px;border:1px solid #CCC;background:#EBEBEB;cursor:pointer;text-decoration:none;}
      .spec-scroll .items{float:left;position:relative;width:405px;height:86px;overflow:hidden;}
      .spec-scroll .items ul{position:absolute;width:999999px;height:86px;}
      .spec-scroll .items ul li{float:left;width:82px;text-align:center;}
      .spec-scroll .items ul .cur-img img{border:2px solid #e6ce9e;padding:1px;}
      .spec-scroll .items ul li img{border:1px solid #e9e9e9;padding:2px;width:72px;height:72px;}
      .spec-scroll .items ul li img:hover{border:2px solid #e6ce9e;padding:1px;}
  }

  .goods-price{
    float: left;
    width:440px;
    h3{
      padding-top: 35px;
      font-size:27px;
      color:#515151;
      border-bottom:1px solid #d5d5d5;
      padding-bottom: 10px;
      span{
        font-size:15px;
        color:#9e9e9e;
        margin-left:5px;
      }
    }

  }
  p{
    font-size: 16px;
    color:#808080;
    padding:25px 0 12px 0px;
  }
  .other-ser{
    a{
      display:inline-block;
      *display: inline-block;
      color:#808080;
      padding:0 8px;
      &:hover{
        background: #e6ce9e;
        border-radius: 2px;
        color:#fff;
      }
    }
    .on{
      background: #e6ce9e;
      border-radius: 2px;
      color:#fff;
    }
      font-size: 16px;
      color:#808080;
    }
}

.btn-or{
  font-size:16px;
  display: inline-block;
  *display: inline;
  padding:2px 4px;
  color:#fff;
  background:#cba869;
  margin-top:60px;
  @include transition(all,.5s);
  &:hover{
    background:#e6ce9e;
  }
}

.price-box{
  height:42px;
  padding:10px 0 40px 0;
  line-height: 42px;
  font-size:42px;
  color:#e6ce9e;
  .desc{
    font-size:15px;
  }
}

.choose-type{
  border-bottom:1px solid #d5d5d5;
  li{
    float:left;
    font-size: 16px;
    color:#808080;
    padding-bottom:20px;
    span{
      display: inline-block;
      *display:inline;

    }
    div{
      display: inline-block;
      *display:inline;
      min-width:110px;
    }
  }
}

.share{
  height:50px;
}

.detail-box{
  background: #eee;
  padding:12px;
  margin-top: 75px;
  >div{
    border:1px solid #aeaeae;
    padding:20px 0;
  }
  table{
    width:850px;
    margin:0 auto auto auto; 
    font-size: 16px;
    color:#6f6f6f;
    td{
      height:37px;
    }
  }
}

.user-content{  margin-top:50px;
  // padding:15px;
  img {
    vertical-align: bottom;
  }
}

.guss{
  font-size: 30px;
  color:#cba869;
  line-height: 30px;
  margin:30px 0;
  text-align:center;
}

.border{
  border:1px solid #aeaeae;
}

.guss-box{

  a{
    display: block;
    width:33.33%;
    *width:33%;
    float:left;
    position:relative;
    &:after{
      content:"";
      position: absolute;
      height:80%;
      width:1px;
      background: #aeaeae;
      right: -1px;
      top:10%;
      z-index: 2;
    }
    img{
      width:100%;
    }
  }
  a:last-child{
    &:after{
      display:none;
    }
  }
}

.mt-40{
  margin-top:40px;
}

.about-box{
  height:300px;
  overflow: hidden;
  div{
    width:33.33%;
    *width:33%;
    height:255px;
    padding-top:45px;
    float:left;
    position:relative;
    text-align: center;
    font-size:15px;
    &:after{
      content:"";
      position: absolute;
      height:80%;
      width:1px;
      background: #aeaeae;
      right: -1px;
      top:10%;
      z-index: 2;
    }
    .notice{
      color:#606060;
    }
    dl{
      padding-top:10px;
      font-size:28px;
      color:#caa548;
      margin-bottom:6px;
      dt{
        line-height: 40px;
      }
    }
    p{
      color:#9c9c9c;
      line-height: 22px;
    }
    .btn-or{
      width:110px;
      margin-top:24px;
    }
  }
  div:last-child{
    &:after{
      display:none;
    }
  }
}

/**设计团队**/
.main.design{
  padding-top:0;
  .team{
    height:422px;
    margin-top:0;
    @include transform(translateY(0));
    background:url(../images/design/design_bg.jpg) center no-repeat;
    position:relative;
    a{
      position:absolute;
      left:174px;
      top:242px;
      width:126px;
      line-height:36px;
      text-align:center;
      color:#343434;
      font-size:18px;
      border:1px solid #343434;
    }
  }

  .intro{
    margin-top:60px;
    text-align:center;
    background:none;
    h3{
      color:#000;
      font-size:20px;
      margin-bottom:30px;
    }
    p{
      color:#bcbcbc;
      line-height:30px;
    }
  }

  .avatar{
    width:800px;
    margin:88px auto auto auto;
    li{
      width:33.33%;
      float:left;
      text-align:center;
    }
  }

  .classic{
    height:610px;
    margin-top:160px;
    position:relative;
    .class-box{
      position:absolute;
      left:50px;
      top:0;
      width:576px;
      height:174px;
      padding-top:260px;
      background:url(../images/design/idear.png) center no-repeat;
      z-index:3;
      text-align:center;
      line-height:30px;
      color:#bcbcbc;
      font-size:16px;
      a{
        color:#000;
        border-bottom:1px solid #000;
        line-height:46px;
      }
    }
    img{
      position:absolute;
      left:490px;
      top:41px;
    }
  }

  .designer{
    position:relative;
    height:455px;
    @include transform(translateY(0));
    img{
      position:absolute;
      left:0;
      top:0;
      z-index: 2;
    }
    .msg-box{
      position: absolute;
      left:160px;
      top:64px;
      width:835px;
      height:345px;
      background: #eaecf0;
      div{
        position:absolute;
        top:58px;
        left:84px;
      }
      h3{
        font-size:40px;
        color:#000;
        font-weight:bold;
        line-height:55px;
        margin-bottom: 20px;
      }
      p{
        color:#797979;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .de-story{

    h3{
      margin-bottom:25px;
      text-align: center;
      font-size:30px;
      color:#000;
      line-height:55px;
    }
    .img-box{
      width:550px;
      height:410px;
      float:left;
      text-align: center;
    }
    .txt-box{
      width:340px;
      padding-top:75px;
      float:left;
      border-top:1px solid #e4e4e4;
      text-align: justify;
      line-height: 30px;
      font-size:17px;
      color:#343434;
      p{
        margin-bottom: 10px;
      }
      a{
        padding:2px 14px;
        color:#ab8638;
        background: #fff;
        border:1px solid #343434;
        @include transition(all,.5s);
        &:hover{
          background:#ab8638;
          color:#fff;
          border:1px solid #fff;
        }

      }
    }
  }

}

.ani-delay-top{
  @include transform(translateY(20px));
  @include transition(all,2s 0.5s);
  opacity:0;
}

.ani-delay-l{
  @include transform(translateX(-50px));
  @include transition(all,2s 0.5s);
  opacity:1;
}

.ani-delay-r{
  @include transform(translateX(50px));
  @include transition(all,2s 0.5s);
  opacity:1;
}

.ani-in{
  .ani-delay-top{
    @include transform(translateY(0px));
    opacity:1;
  }

  .ani-delay-l{
    @include transform(translateX(0px));
    opacity:1;
  }

  .ani-delay-r{
    @include transform(translateX(0px));
    opacity:1;
  }
}

/*帮助中心*/
.main.help{
  padding-top:180px;
  padding-bottom: 0;
  .site{
    color:#c4c4c4;
    a{
      color:#c4c4c4;
      &:hover{
        color:#e6ce9e;
      }
    }
  }
  .side-bar{
    float:left;
    width:140px;
    background:#fafaf9;
    text-align:center;
    dl{
      padding-bottom:10px;
    }
    dd{
      line-height: 45px;
      font-size:18px;
      background: #ddd8ce;
      margin-bottom:10px;
    }
    dt{
      font-size:16px;
      line-height:30px;
    }
    a{
      display: block;
      color:#000;
      position:relative;
      &:hover{
        color:#a2815d;
      }
      &:hover:after{
        content:">";
        position: absolute;
        font-family: "宋体";
        left:18px;
        top:0;
        font-weight:bold;
      }
    }
    .on{
      a{
        color:#a2815d;
        &:after{
          content:">";
          position: absolute;
          font-family: "宋体";
          left:18px;
          top:0;
          font-weight:bold;
        }
      }
    }
  }
  .content{
    float:left;
    width:858px;
    margin-left:2px;
    .banner{
      height:392px;
      background: url(../images/sub/help_center.jpg) no-repeat;
      position: relative;
      .btn-bor{
        position: absolute;
        left:36px;
        top:274px;
      }
    }
    .mid-box{
      width:600px;
      margin: 0 auto auto auto;
      font-size: 16px;
    }
    .w-740{width:740px;}
    .w-800{width:800px;}
    .title{
      font-size:30px;
      line-height: 45px;
      margin:50px auto;
      color:#000;
      border-bottom:1px solid #c9a564;
      width:4em;
      text-align: center;
      font-weight: 400;
    }
    .sub-title{
      width:600px;
      height: 82px;
      line-height: 82px;
      border:2px solid #000;
      margin:60px auto auto auto;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    .desc{
      color: #000;
      margin-top: 30px;
    }
    table{
      width:600px;
      margin:20px auto auto auto;
      text-align: center;
      td{
        height:80px;
      }
      .on{
        background: #E2C083;
        color:#fff;
      }
      a{
        display: block;
        height: 40px;
        line-height: 40px;
        color: #000;
        font-size: 20px;
        &:hover{
          background: #E2C083;
          color:#fff;
        }
      }
    }
    textarea{
      display: block;
      width:578px;
      height: 165px;
      border:1px solid #ccc;
      padding: 10px;
      margin:50px auto auto auto;
    }
    input{
      display: block;
      width:340px;
      height: 40px;
      border:1px solid #ccc;
      text-indent: 10px;
      margin-top: 30px;
    }
    .submit{
      display: block;
      width:240px;
      height: 53px;
      background: #bca892;
      margin:30px auto auto auto;
      text-align: center;
      line-height: 53px;
      color: #fff;
      font-size: 24px;
      &:hover{
        background:#c9a564;
      }
    }
    .link-box{

      dl{
        float: left;
        text-align: center;
        width:50%;
        margin-bottom: 30px;
        line-height: 50px;
        font-size: 20px;
      }
    }

  }

  .map-box{
    margin-bottom: 40px;
    h3{
      display: block;
      width:440px;
      color:#cba872;
      padding:8px 16px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 20px;
    }
    a{
      display: inline-block;
      margin: 10px 30px;
      color: #858585;
      font-size: 16px;
      &:hover{
        color:#c9a564;
      }
    }
  }
  dl{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    dd{
      color: #b5896a;
    }
  }

  .gia{
    p{
      line-height:28px;
    }
    .left{
      float:left;
      .title{
        display:inline-block;
        *display:inline;
        margin:20px 0;
        width:auto;
      }
      h3{
        margin-bottom:60px;
        font-size:18px;
        font-weight:bold;
      }
      .con{
        width:230px;
        text-align:justify;
      }
    }
    .right{
      float:right;
    }
    .title-l{
      display:inline-block;
      *display:inline-block;
      font-size:30px;
      line-height: 45px;
      margin:50px auto;
      color:#000;
      border-bottom:1px solid #c9a564;
      width:auto;
      text-align: center;
      font-weight: 400;
    }
    .check{
      p{
        margin-bottom:40px;
      }
    }
  }

  .gia-bg{
    position:relative;
    width:740px;
    height:492px;
    background:url(../images/sub/giabg.png) center no-repeat;
    p{
      position:absolute;
      left:280px;
      top:280px;
      width:414px;
      text-align:justify;
    }
  }

  .cooper{
    position:relative;
    height:743px;
    background:url(../images/sub/boxbg.jpg) center no-repeat;
    .message{
      position:absolute;
      left:310px;
      top:520px;
      font-size:14px;
      p{
        color:#939393;
      }
      
    }
  }

  .join-us{
    padding-bottom:40px;
    .join{
      width:328px;
      height:177px;
      background:url(../images/sub/join_us.png) center no-repeat;
      margin:0 auto auto auto;
    }
    p{
      text-align:center;
      margin:20px 0;
      line-height:30px;
    }
    .left{
      text-align:left;
    }
    .mt{margin:5px 0;}

  }
  
  .regist{
    padding-bottom:40px;
    .title-l{margin-top:0px;}
    h3{
      color:#b5896a;
      margin:20px 0;
    }
    p{
      margin:20px 0;
    }
  }

  .guide{
    position:relative;
    .ti-bg{
      position:absolute;
      left:100px;
      width:226px;
      height:113px;
      background:url(../images/sub/guide_title.png) no-repeat;
    }
    .story-mod{
      width:700px;
      margin:0 auto;
    }
    .gui-intro{
      position: relative;
      margin-left:170px;
      padding-top: 80px;
      width:500px;
      line-height:30px;
      color:#797979;
      text-align:justify;
    }
    .gui-story{
      width:632px;
      height:306px;
      margin:20px auto auto auto;
      background:url(../images/sub/guide_story.png) no-repeat;
    }

    .my-name{
      float:left;
      width:240px;
      height:142px;
      font-weight: bold;
      position:relative;
      &:after{
        content:"";
        position:absolute;
        left:83px;
        top:56px;
        width:1px;
        height:70px;
        background: #000;
      }
    }
    .my-story{
      float:left;
      width:460px;
      font-size:16px;
      p{
        color:#9c9c9c;
        text-align:justify;
      }
    }
    .gui-bg{
      margin-top:100px;
      height:651px;
      background: url(../images/sub/guid_bg.jpg) center no-repeat;
    }
    .gui-no{
      width:730px;
      height:395px;
      background: url(../images/sub/guide_no.png) no-repeat;
      margin:100px auto;
    }
    .say-no{
      p{
        position: relative;
        width:540px;
        margin:40px auto;
        padding-left:40px;
        color:#000;
        font-weight: 500;
        &:after{
          content:"";
          position: absolute;
          left:0;
          top:11px;
          width:20px;
          height:1px;
          background: #d1c8b6;
        }
      }
    }
  }

  .enc{
    padding-bottom:80px; 
    .en-banner{
      width:487px;
      height:235px;
      background: url(../images/sub/head_logo.png) no-repeat;
      margin: 0 auto;
    }
    .in-box{
      margin-top: 120px;
      position: relative;
      .left{
        float:left;
      }
      .right{
        float: right;
      }
      .en-intro{
        position: absolute;
        top:30px;
        width:390px;
        h3{
          font-size:18px;
        }
        .en{
          font-size: 36px;
          line-height: 50px;
          font-weight: bold;
        }
        p{
          margin-top:20px;
          color:#000;
          font-size: 15px;
        }
      }

      .ab-l{
        left:0px;
        text-align: left;
      }
      .ab-r{
        right:0px;
        text-align: right;
      }
    }

    .title{
      width:10em;
    }
    .c-5{
      width:570px;
      margin:0 auto;
      text-align: justify;
    }
    .btn-bor{
      display: block;
      width:210px;
      text-align: center;
      margin:40px auto;
    }

  }
  .en-item{
    width: 570px;
    padding-left:34px;
    position: relative;
    margin: 60px auto auto auto;
    &:after{
      content:"";
      position: absolute;
      top:3px;
      left:0px;
      width:16px;
      height:16px;
      border-radius: 50%;
      background: #000;
    }
  }
  .dia{
    .dia-banner{
      width:294px;
      height:159px;
      margin:0 auto;
      background: url(../images/sub/diamond.png) no-repeat;
    }
    .text-mid{
      margin: 40px auto;
    }
    .c-5{
      margin-top:20px;
      text-align: center !important;
    }
    .tl{
      height:510px;
      margin-top:20px;
      background:url(../images/sub/tl.jpg) center no-repeat;
    }
    .en-item{
      color:#767676;
      &:after{
        background:#767676;
      }
    }
  }

}

.btn-bor{
  font-size:16px;
  color:#ab8638;
  padding:5px 10px;
  border:1px solid #ab8638;
  @include transition(all,.5s);
  &:hover{
    background:#ab8638;
    color:#fff;
  }
}

.text-mid{
  text-align: center;
}

/*商品列表*/

.goods-list-box{

  ul{    
    display:none;
    padding:40px 0;
    border:1px solid #dedede;
    li{
      float:left;
      width:33.33%;
      *width:33%;
    }
    a{
      display: block;
      text-align: center;
      img{
        width:330px;
        height: 220px;
      }
      span{
        display: inline-block;
        font-size: 16px;
        color:#e6ce9e;
        border:1px solid #e6ce9e;
        padding:2px 16px;
        @include transition(all,.5s);
        &:hover{
          background:#e6ce9e;
          color:#fff;
        }
      }
    }
  }
}

/*二级导航*/
.sub-nav{
  display: none;
  position:absolute;
  top:100%;
  left: 280px;
  padding:40px;
  background: rgba(255,255,255,.9);
  *background: #fff;
  white-space: nowrap;
  div{
    display: inline-block;
    vertical-align: top;
    width:120px;
    margin-left:4px;
    text-align: left;
    h3{
      font-size: 19px;
      color:#434343;
      padding-bottom:5px; 
      border-bottom: 1px solid #cacaca;
      margin-bottom: 10px;
    }
    a{
      display: block;
      font-size: 14px;
      color:#8d8d8d;
      border:none;
      &:hover{
        color:#e6ce9e;
        border:none;
      }
    }
  }

}

/**品牌故事**/
.main.news-list{
  padding:0;
  .news-box{
    border-top:1px solid #dcc394;
    padding-top:40px;
  }
  .title{
    font-size: 28px;
    color:#ddc494;
    text-align: center;
    padding-bottom: 40px;
  }
  .news{
    float:left;
    width:50%;
    height: 540px;
    padding-bottom: 50px;
    .img-box{
      display: block;
      width:492px;
      height:301px;
      overflow: hidden;
      margin:0 auto auto auto;
    }
    img{
      width:100%;
      display: block;
    }
    h3{
      position: relative;
      height:40px;
      margin:12px 0;
      line-height: 40px;
      font-size: 26px;
      color:#343434;
      text-indent:12px;
      a{
        position: absolute;
        right: 10px;
        top:0px;
        font-size: 14px;
        color:#bfaf95;
        &:hover{
          color:#FFC05A;
        }
      }
    }
    ul{
      padding:0 20px;
      li{
        height:30px;
        overflow: hidden;
        text-overflow:ellipsis;
        -webkit-text-overflow:ellipsis;
        color:#7f7f7f;
      }
      a{
        font-size: 16px;
        line-height: 30px;
        color:#7f7f7f;
        white-space:nowrap;
      }
    }
    a{
      @include transition(color,.5s);
      &:hover{
        color:#dcc394;
      }
    }
  }

  .artical-list{
    padding:50px 0;
    border-top:1px solid #dcc394;
    .artical{
      height:302px;
      position: relative;
      margin-bottom: 40px;
    }
    .img-box{
      float:left;
      display: block;
      width:482px;
      height: 302px;
      overflow: hidden;
      img{
        width:100%;
      }
    }
    .artical-box{
      float:left;
      position: relative;
      width:498px;
      height:302px;
      padding:0 10px;
      h3{
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow:ellipsis;
        -webkit-text-overflow:ellipsis;
        white-space:nowrap;
      }
      span{
        font-size: 12px;
        color:#c5c5c5;
      }
      p{
        height: 180px;
        margin-top: 10px;
        font-size: 14px;
        color:#a0a0a0;
        overflow: hidden;
      }
      a{
        position: absolute;
        left: 10px;
        bottom: 0;
        font-size: 16px;
        color: #ddc494;
        &:hover{
          color:#EFA516;
        }
      }
    }
  }

}

.main.artical{
  padding:0 0 50px 0;
  .ar-content{
    padding-top:50px;
    border-top:1px solid #dcc394;
    position: relative;
  }
  .ar-box{
    width:748px;
    border:1px solid #d9d9d9;
    padding:45px 0;
    min-height: 716px;

    h3{
      font-size: 30px;
      text-align: center;
    }
    span{
      display: block;
      font-size: 12px;
      color:#c5c5c5;
      text-align: center;
      line-height: 30px;
    }
  }
  .user-content{
    border:none;
    margin:40px 0;
    padding:0 60px;
    p{
      color:#a0a0a0;
      text-indent: 2em;
      font-size: 16px;
      margin-bottom: 20px;
    }
    img{
      display: block;
      margin:10px auto 10px auto;
    }
  }
  .fixed-box{
    position: absolute;
    right:0;
    top:50px;
    width:240px;
    text-align: center;
    font-size:16px;
    .box{
      border:1px solid #d9d9d9;
       padding-top:20px;
    }
    .hot{
      padding-top:0;
    }
    .jd a{
      display: block;
      width:134px;
      margin: 20px auto 20px auto;
      background: #d9d9d9;
      color: #5f5f5f;
      &:hover{
        background:#dcc394;
        color: #fff;
      }
    }
  }
  .hot{
    margin-top: 10px;
    h3{
      line-height: 54px;
      text-align: center;
      background: #dcc393;
      font-size: 24px;
      color:#fff;
    }
    .link{
      padding:50px 20px;
      a{
        display: block;
        text-align: left;
        color:#9a9a9a;
        font-size: 16px;
        span{
          color:#dcc393;
          font-size: 23px;
        }
      }
    }
  }
}

/*分页*/
.pager{
  text-align: center;
  line-height: 26px;
  a{
    display: inline-block;
    *display: inline;
    width:26px;
    height:26px;
    font-size: 16px;
    color: #fff;
    background: #d9d9d9;
    &:hover{
      background:#ddc494;
    }
  }
  .page-last,.page-next{
    font-size: 14px;
    color:#878282;
  }
  .on{
    background:#ddc494;
  }
}

/**定制页面**/

.head-title{
    height:334px;
    background:url(../images/custom/head.jpg) center no-repeat;
  }
.header.custom{
  height:687px;
}
.custom{
  .h-bg{
    height:687px;
    background: url(../images/custom/banner.jpg) center no-repeat;
  }
  .title{
    width:154px;
    height: 47px;
    background: url(../images/custom/title.png) no-repeat;
    margin:10px auto auto auto;
  }
  p{
    width: 520px;
    margin:50px auto auto auto;
    text-align: center;
    line-height: 28px;
  }
  .choose-time{
    display: block;
    width:298px;
    border:1px solid #c4c3c3;
    line-height: 25px;
    text-indent: 16px;
    background: url(../images/custom/down.jpg) right top no-repeat;
  }

  .form{
    margin-top:80px;
    .rows{
      .submit{
        margin:0;
        width:151px;
        line-height: 33px;
        height:33px;
        font-size: 18px;
      }
    }
    .cell-l{
      float:left;
      position: relative;
      text-align: right;
      width:180px;
      color:#311c08;
      &:after{
        content:"";
        position: absolute;
        right:-42px;
        top:8px;
        width:12px;
        height:12px;
        background: #c8a466;
        border-radius: 50%;
      }
    }
    .cell-r{
      float:left;
      width:700px;
      border-left:2px solid #c8a466;
      padding-left:35px;
      padding-bottom: 20px;
      margin-left:35px;
      color:#989898;
      select{
        width:300px;
        background:none;
        color:#989898;
        text-indent: 12px;
      }
      h3{
        color:#311c08;
        border-bottom:1px solid #c8a466;
        font-size:18px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .other-choose{
        margin-top:20px;
        padding-top: 30px;
        border-top:1px dashed #c8a466;
        h3{
          font-size: 16px;
          border:none;
          margin-bottom: 0px;
          margin-top:20px;
        }
        table{
          width:520px;
          margin-top:0px;
          td{
            width:130px;
            margin:0;
            padding:0;
          }
        }
      }

    }
  }
  
  .msg-box{
    width:630px;
    table{
      width:375px;
    }
    td{
      height:30px;
      padding:5px 0;
      font-width:bold;
      font-size:16px;
    }
    input{
      width:256px;
      height:26px;
      border:1px solid #989898;
      text-indent: 10px;
    }
    p{
      width:auto;
      font-size: 16px;
      text-align: left;
      margin-top:10px;
      color:#989898;
    }
    textarea{
      width:510px;
      height:132px;
      border:1px solid #c9c9c9;
      padding:12px;
      margin:10px auto auto auto;
    }
  }

  .check-box{
    cursor: pointer;
    font-size: 16px;
    margin:5px;
  }

  .check-box a{
    display: inline-block;
    width:15px;
    height:15px;
    border:1px solid #989898;
    margin-right: 10px;
    position: relative;
    vertical-align: -2px;
  }
  .check-box.on a{
    &:after{
      content:"";
      position: absolute;
      top:0px;
      left: 0px;
      width:15px;
      height:15px;
      background: #c8a466;
    }
  }

}
/***分享代码样式**/
.share{
  margin-top: 10px;
  .jiathis_style_32x32 .jtico_tsina{
    width:25px;
    height:25px;
    background: url(../images/share_sina.png) center no-repeat;
  }

  .jiathis_style_32x32 .jtico_weixin{
    width:25px;
    height:25px;
    background: url(../images/share_wx.png) center no-repeat;
  }

  .jiathis_style_32x32 .jtico_tqq{
    width:25px;
    height:25px;
    background: url(../images/share_qq.png) center no-repeat;
  }

  .jiathis_style_32x32 .jiathis_txt {
      float: left;
      font-size: 22px;
      text-decoration: none;
      line-height: 25px!important;
  }

  .jiathis_style_32x32 .jtico {
      text-align: left;
      overflow: hidden;
      display: block!important;
      height: 25px!important;
      line-height: 25px!important;
      padding-left: 5px!important;
      cursor: pointer;
  }
  p,.jiathis_style_32x32{
    float:left;
  }
}



/* Article Content */
h1,h2 {
  font-weight: 700;
  line-height: 35px;
}
h1,
h1 span {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 16px;
}




 /*---------------------------------------
 **   7.0 Alignments                   -----
-----------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.pdt-200{
  padding-top:200px !important;
}


.submit{
      display: block;
      width:240px;
      height: 53px;
      background: #bca892;
      margin:30px auto auto auto;
      text-align: center;
      line-height: 53px;
      color: #fff;
      font-size: 24px;
      &:hover{
        background:#c9a564;
      }
    }

.cover{
  display:none;
  position:fixed;
  left:0;
  top:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  .pop{
    position:absolute;
    padding:40px 40px 20px 40px;
    width:500px;
    
    background:#fff;
    left:50%;
    top:50%;
    @include transform(translate(-50%,-50%));
    .msg{
      text-align:center;
      font-size:22px;
    }
    a{
      display:block;
      width:8em;
      line-height:40px;
      margin:40px auto auto auto;
      background: #bca892;
      text-align:center;
      color:#fff;
       &:hover{
        background:#c9a564;
      }
    }
  }
}


.index{

  height:862px;
  margin:0 auto;
  background:url(../images/index.jpg) center no-repeat;
}